.game-board {
  position: relative;
  margin: 0 auto;
  margin-top: 25px;
  background-color: #6c757d;
  border-radius: 8px;
}

.airplane {
  position: absolute;
}

.rocket-obstacle {
  position: absolute;
  transform: rotate(180deg);
}

.projectile {
  position: absolute;
}

.start-button {
  border-radius: 8px;
}

.score-display {
  font-weight: 500;
}

.high-score-display {
  font-weight: 500;
}
